<ion-view title="Home" id="page1" ng-controller="homeCtrl"  hide-back-button="true">
    <ion-content padding="true" class="has-header">
        <div class="row row-center">
          <div class="col">
            <div id="home-page"></div>
              <div align="center"><h4><b>Effettua l'accesso come:</b></h4></div>
              <button style=margin-bottom:15px class="button button-block button-balanced button-login button-large"  ui-sref="login()">CLIENTE</button>
              <button class="button button-block button-balanced button-login button-large" ui-sref="loginris()">RISTORATORE</button>
          </div>
        </div>
    </ion-content>
  </ion-view>
