<ion-view title="Area Ristoratori" id="page7" ng-controller="risChoiceCtrl" hide-back-button="true">
        <ion-content padding="true" class="has-header">
            <div class="row row-center">
              <div class="col">
                <div id="home-page"></div>
                  <button class="button button-block button-balanced button-login button-large" ui-sref="restris()">Lista Ristoranti</button>
                  <button class="button button-block button-balanced button-login button-large" ui-sref="addrest()">Aggiungi Ristorante</button>
                  <button class="button button-block button-assertive button-small" ng-click="logout()">Disconnetti</button>
              </div>
            </div>
        </ion-content>
      </ion-view>
